html, body {
  height: 100vh;
  width: 100vw;
}
div .app{

    background-image: url("https://images.pond5.com/computer-coding-background-footage-090890180_prevstill.jpeg");
    background-size:  "cover"
  

  }