.all{
    min-height: 100vh;
}

.card{
    margin: 50px auto;
    border: none !important; 
    background-color: rgba(0, 0, 0,0.2) !important;
    color: aqua !important;

}
.card-title{
    color: aliceblue;
}